<h1><%= @place["name"]%> </h1>

<% for post in @post %>
<li>
<%= post["title"]%>
<%= post["posted_on"]%>
<%= post["description"]%>
</li>
<% end %>

<a href="/posts/new?place_id=<%= @place["id"] %>">New Post</a>